/* example based on bootstrap 2.3.2 */


/* default */
#nm-media-query{ content: "desktop" }

/* Large desktop */
@media (min-width: 1200px) { 
    #nm-media-query{
        content: 'desktop-large';
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    #nm-media-query{
        content: 'landscape-and-desktop';
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #nm-media-query{
        content: 'landscape-phone-and-portrait-tablet';
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    #nm-media-query{
        content: 'phone';
    }

}